<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>operation</th>
    </tr>

    <tr th:each="msg :${messages}">

        <td th:text="${msg.name}"></td>
        <td th:text="${msg.age}"></td>
        <td th:text="${msg.email}"></td>
        <td><form th:action="@{user/user-update/{id}(id=${msg.id})}" th:method="patch"><input type="submit" value="update"></form></td>
        <td><form th:action="@{user/user-delete/{id}(id=${msg.id})}" th:method="delete"><input type="submit" value="delete"></form></td>



    </tr>


</table>

<br>

<input type="button" value="Add"
       onclick="window.location.href = 'user/addNewUser'"/>


</body>
</html>